.welcome {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
  font-size: 36px;
  letter-spacing: 26px;
  font-family: 'Blackops';
}